 /* Ensure this is at the top of your SCSS file */
@import "bootstrap/scss/bootstrap";

/* Variables */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$link-color: #a51c30;
$link-color-dark: #ef9aa4;
$link-hover-color: $link-color;
$link-hover-color-dark: $link-color-dark;

/* Styles */
.figure-caption {
    font-size: .625rem;
}
.figure-img {
    margin-bottom: 0.25rem;
}

.ratio-85x110 {
    --bs-aspect-ratio: calc(110 / 85 * 100%);
}

html {
    font-size: 21px;
}

body {
    font-family: Roboto;
}

a, a.nav-link {
    text-decoration: none;
}
a:hover, a.nav-link:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 2px;
}

aside {
    h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    h2, h3, h4 {
        font-size: 1rem;
    }

    .active.nav-link {
        font-weight: bold;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    .navbar-light {
        .navbar-toggler:not(.collapsed) {
            background-color: $dark;
            color: $light;
        }
    }
}

main {
    dd {
        margin-bottom: .25rem;
    }

    dl {
        font-size: .75rem;
    }

    dt {
        margin-bottom: .25rem;
        margin-top: .5rem;
    }

    h1, h2 {
        font-size: 1rem;
        font-weight: bold;
    }

    img {
        max-width: 100%;
    }

    .embedly-card {
        padding-bottom: .5rem;

        h4 {
            font-size: inherit;
        }   
    }
}

/* Responsive Design */
@include media-breakpoint-up(md) {
    body {
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;
    }

    aside {
        padding-right: 2.5rem !important;
        text-align: right;
    }
}

@include media-breakpoint-down(md) {
    body {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }

    aside {
        text-align: center;
    }
}