* {
    box-sizing: border-box;
    font-weight: 700 !important;
}

body {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

a {
    /* color: #007bff; */
    text-decoration: none !important;
}

.figure {
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.container {
    padding: 50px;
}

aside {
    padding-right: 2.5rem !important;
    text-align: right;
}

#markdownContent h1, #markdownContent h2, #markdownContent h3, #markdownContent h4, #markdownContent h5, #markdownContent h6 {
    font-weight: 700;
}